---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/sb8244/CustomerKnow/issues/2/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1422418584'
      Etag:
      - W/"2539a68b7460dfc71374b091021db5b2"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ed93d165cafee4693e3e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/71150256","html_url":"https://github.com/sb8244/CustomerKnow/pull/2#issuecomment-71150256","issue_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/2","id":71150256,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-23T05:42:39Z","updated_at":"2015-01-23T05:42:39Z","body":"#
        Feature - Doesn''t matter\r\n\r\nIt''s junk"},{"url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/71767640","html_url":"https://github.com/sb8244/CustomerKnow/pull/2#issuecomment-71767640","issue_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/2","id":71767640,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-28T01:56:04Z","updated_at":"2015-01-28T01:56:04Z","body":"Hi
        Harry"}]'
  recorded_at: Wed, 28 Jan 2015 03:39:48 GMT
recorded_with: VCR 2.9.3
