---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/salesloft/release-ninja/issues/4/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1434664051'
      Etag:
      - W/"bbbd0c611bc24c681adeb1a3ac5a0add"
      X-Oauth-Scopes:
      - repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/71148902","html_url":"https://github.com/SalesLoft/release-ninja/pull/4#issuecomment-71148902","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/4","id":71148902,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-23T05:16:01Z","updated_at":"2015-01-23T05:16:01Z","body":"#
        Feature - Something\r\n\r\nNot Really"},{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/113284400","html_url":"https://github.com/SalesLoft/release-ninja/pull/4#issuecomment-113284400","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/4","id":113284400,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/us[...]
- request:
    method: post
    uri: https://api.github.com/repos/salesloft/release-ninja/issues/4/comments
    body:
      encoding: UTF-8
      string: '{"body":"Howdy from Release Ninja! I just created a note and sent out
        emails to test@test.com, other@test.com\n:tada:\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1434664051'
      Etag:
      - '"1250746332baee22e193e03d3873441e"'
      X-Oauth-Scopes:
      - repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/113285797
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/113285797","html_url":"https://github.com/SalesLoft/release-ninja/pull/4#issuecomment-113285797","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/4","id":113285797,"user":{"login":"sb8244","id":1231659,"avatar_url":"https[...]
