---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/sb8244/CustomerKnow/issues/7/comments
    body:
      encoding: UTF-8
      string: '{"body":"Howdy from Release Ninja! When your pull request is ready,
        do one of the following:\n* [Notify Release Team](http://test.host/reviews/create?project_id=395\u0026pull_request_id=7\u0026repository_id=209)\n*
        Don''t notify anyone because it''s a small change or doesn''t concern them\nWhatever
        you do though, make sure you :tada:\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1422427123'
      Etag:
      - '"de5aae72242c46d8a06fa5bfa7035f74"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ed93d165cafee4693e3e
      Location:
      - https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/71787882
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/71787882","html_url":"https://github.com/sb8244/CustomerKnow/pull/7#issuecomment-71787882","issue_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/7","id":71787882,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-28T06:33:08Z","updated_at":"2015-01-28T06:33:08Z","body":"Howdy
        from Release Ninja! When your pull request is ready, do one of the following:\n*
        [Notify Release Team](http://test.host/reviews/create?project_id=395&pull_request_id=7&repository_id=209)\n*
        Don''t notify anyone because it''s a small change or doesn''t concern them\nWhatever
        you do though, make sure you :tada:\n"}'
  recorded_at: Wed, 28 Jan 2015 06:33:08 GMT
recorded_with: VCR 2.9.3
