---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/salesloft/release-ninja/issues/4/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1428988408'
      Etag:
      - W/"960628154aa3ab69c1fe38a7983d6f5f"
      X-Oauth-Scopes:
      - repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/71148902","html_url":"https://github.com/SalesLoft/release-ninja/pull/4#issuecomment-71148902","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/4","id":71148902,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-23T05:16:01Z","updated_at":"2015-01-23T05:16:01Z","body":"#
        Feature - Something\r\n\r\nNot Really"}]'
  recorded_at: Tue, 14 Apr 2015 04:14:57 GMT
recorded_with: VCR 2.9.3
