---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/salesloft/release-ninja/issues/7/comments
    body:
      encoding: UTF-8
      string: '{"body":"Howdy from Release Ninja! You should write a release note
        targeted at a semi-technical end user who is\nnot familiar with the code base.
        Include at least 1 image, wherever possible. [Review the help article](http://test.host/help)
        if\nyou are not familiar with Release Ninja.\n\nWhen your pull request is
        ready, do one of the following:\n\n* [Notify Release Team](http://test.host/workflow/review?project_id=1050\u0026pull_request_id=7\u0026repository_id=325)\n*
        Don''t notify anyone because it''s a small change or doesn''t concern them\nWhatever
        you do though, make sure you :tada:\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1428988408'
      Etag:
      - '"74f9748af02687404767d888c4fdd753"'
      X-Oauth-Scopes:
      - repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/92594859
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/92594859","html_url":"https://github.com/SalesLoft/release-ninja/pull/7#issuecomment-92594859","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/7","id":92594859,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-04-14T04:25:47Z","updated_at":"2015-04-14T04:25:47Z","body":"Howdy
        from Release Ninja! You should write a release note targeted at a semi-technical
        end user who is\nnot familiar with the code base. Include at least 1 image,
        wherever possible. [Review the help article](http://test.host/help) if\nyou
        are not familiar with Release Ninja.\n\nWhen your pull request is ready, do
        one of the following:\n\n* [Notify Release Team](http://test.host/workflow/review?project_id=1050&pull_request_id=7&repository_id=325)\n*
        Don''t notify anyone because it''s a small change or doesn''t concern them\nWhatever
        you do though, make sure you :tada:\n"}'
  recorded_at: Tue, 14 Apr 2015 04:25:47 GMT
recorded_with: VCR 2.9.3
