---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/sb8244/CustomerKnow/issues/7/comments
    body:
      encoding: UTF-8
      string: '{"body":"Howdy from Release Ninja! When your pull request is ready,
        do one of the following:\n* [Notify Release Team](http://test.host/workflow/review?project_id=1491\u0026pull_request_id=7\u0026repository_id=688)\n*
        Don''t notify anyone because it''s a small change or doesn''t concern them\nWhatever
        you do though, make sure you :tada:\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1422683034'
      Etag:
      - '"f42ce366251dd31d4e4251ea5dfa8a79"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ed93d165cafee4693e3e
      Location:
      - https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/72304800
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/72304800","html_url":"https://github.com/sb8244/CustomerKnow/pull/7#issuecomment-72304800","issue_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/7","id":72304800,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-31T04:54:30Z","updated_at":"2015-01-31T04:54:30Z","body":"Howdy
        from Release Ninja! When your pull request is ready, do one of the following:\n*
        [Notify Release Team](http://test.host/workflow/review?project_id=1491&pull_request_id=7&repository_id=688)\n*
        Don''t notify anyone because it''s a small change or doesn''t concern them\nWhatever
        you do though, make sure you :tada:\n"}'
  recorded_at: Sat, 31 Jan 2015 04:54:29 GMT
recorded_with: VCR 2.9.3
