---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/sb8244/CustomerKnow/issues/4/comments?access_token=<GITHUB_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1421991944'
      Etag:
      - W/"1ede29445f232125572ee039da8a027e"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ed93d165cafee4693e3e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/71148902","html_url":"https://github.com/sb8244/CustomerKnow/pull/4#issuecomment-71148902","issue_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/4","id":71148902,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-23T05:16:01Z","updated_at":"2015-01-23T05:16:01Z","body":"#
        Feature - Something\r\n\r\nNot Really"}]'
  recorded_at: Fri, 23 Jan 2015 05:37:33 GMT
recorded_with: VCR 2.9.3
