---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/salesloft/release-ninja/issues/2/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1434664051'
      Etag:
      - W/"eab6922b0b3d8586e1d345a4cd579749"
      X-Oauth-Scopes:
      - repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/71150256","html_url":"https://github.com/SalesLoft/release-ninja/pull/2#issuecomment-71150256","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/2","id":71150256,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"created_at":"2015-01-23T05:42:39Z","updated_at":"2015-06-18T20:55:22Z","body":"hi"},{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/71767640","html_url":"https://github.com/SalesLoft/release-ninja/pull/2#issuecomment-71767640","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/2","id":71767640,"user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb824[...]
- request:
    method: post
    uri: https://api.github.com/repos/salesloft/release-ninja/issues/2/comments
    body:
      encoding: UTF-8
      string: '{"body":"Howdy from Release Ninja! It appears that you merged without
        a release note comment? It''s never too late!\n:tada:\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1434664051'
      Etag:
      - '"e0b011820ccfce1698096ea35a1278db"'
      X-Oauth-Scopes:
      - repo, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/113288716
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/comments/113288716","html_url":"https://github.com/SalesLoft/release-ninja/pull/2#issuecomment-113288716","issue_url":"https://api.github.com/repos/SalesLoft/release-ninja/issues/2","id":113288716,"user":{"login":"sb8244","id":1231659,"avatar_url":"https[...]
