---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/sb8244/CustomerKnow/pulls/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1422427123'
      Last-Modified:
      - Wed, 28 Jan 2015 05:40:53 GMT
      Etag:
      - W/"807e4a8224f037190f28b1f1d58dc629"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ed93d165cafee4693e3e
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/sb8244/CustomerKnow/pulls/6","id":28002510,"html_url":"https://github.com/sb8244/CustomerKnow/pull/6","diff_url":"https://github.com/sb8244/CustomerKnow/pull/6.diff","patch_url":"https://github.com/sb8244/CustomerKnow/pull/6.patch","issue_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/6","number":6,"state":"closed","locked":false,"title":"Fix
        build","user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-01-26T02:02:42Z","updated_at":"2015-01-28T05:40:53Z","closed_at":"2015-01-26T02:02:46Z","merged_at":"2015-01-26T02:02:46Z","merge_commit_sha":"c17e54ee3a7f927780976c56036972f52c16eb20","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/sb8244/CustomerKnow/pulls/6/commits","review_comments_url":"https://api.github.com/repos/sb8244/CustomerKnow/pulls/6/comments","review_comment_url":"https://api.github.com/repos/sb8244/CustomerKnow/pulls/comments/{number}","comments_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/6/comments","statuses_url":"https://api.github.com/repos/sb8244/CustomerKnow/statuses/eb1e295a27b8e76e334f1201a8bebae75ebde108","head":{"label":"sb8244:fix-build","ref":"fix-build","sha":"eb1e295a27b8e76e334f1201a8bebae75ebde108","user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"repo":{"id":26443195,"name":"CustomerKnow","full_name":"sb8244/CustomerKnow","owner":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}","starred_url":"https://api.github.com/users/sb8244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb8244/subscriptions","organizations_url":"https://api.github.com/users/sb8244/orgs","repos_url":"https://api.github.com/users/sb8244/repos","events_url":"https://api.github.com/users/sb8244/events{/privacy}","received_events_url":"https://api.github.com/users/sb8244/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/sb8244/CustomerKnow","description":"","fork":false,"url":"https://api.github.com/repos/sb8244/CustomerKnow","forks_url":"https://api.github.com/repos/sb8244/CustomerKnow/forks","keys_url":"https://api.github.com/repos/sb8244/CustomerKnow/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sb8244/CustomerKnow/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sb8244/CustomerKnow/teams","hooks_url":"https://api.github.com/repos/sb8244/CustomerKnow/hooks","issue_events_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/events{/number}","events_url":"https://api.github.com/repos/sb8244/CustomerKnow/events","assignees_url":"https://api.github.com/repos/sb8244/CustomerKnow/assignees{/user}","branches_url":"https://api.github.com/repos/sb8244/CustomerKnow/branches{/branch}","tags_url":"https://api.github.com/repos/sb8244/CustomerKnow/tags","blobs_url":"https://api.github.com/repos/sb8244/CustomerKnow/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sb8244/CustomerKnow/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sb8244/CustomerKnow/git/refs{/sha}","trees_url":"https://api.github.com/repos/sb8244/CustomerKnow/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sb8244/CustomerKnow/statuses/{sha}","languages_url":"https://api.github.com/repos/sb8244/CustomerKnow/languages","stargazers_url":"https://api.github.com/repos/sb8244/CustomerKnow/stargazers","contributors_url":"https://api.github.com/repos/sb8244/CustomerKnow/contributors","subscribers_url":"https://api.github.com/repos/sb8244/CustomerKnow/subscribers","subscription_url":"https://api.github.com/repos/sb8244/CustomerKnow/subscription","commits_url":"https://api.github.com/repos/sb8244/CustomerKnow/commits{/sha}","git_commits_url":"https://api.github.com/repos/sb8244/CustomerKnow/git/commits{/sha}","comments_url":"https://api.github.com/repos/sb8244/CustomerKnow/comments{/number}","issue_comment_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues/comments/{number}","contents_url":"https://api.github.com/repos/sb8244/CustomerKnow/contents/{+path}","compare_url":"https://api.github.com/repos/sb8244/CustomerKnow/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sb8244/CustomerKnow/merges","archive_url":"https://api.github.com/repos/sb8244/CustomerKnow/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sb8244/CustomerKnow/downloads","issues_url":"https://api.github.com/repos/sb8244/CustomerKnow/issues{/number}","pulls_url":"https://api.github.com/repos/sb8244/CustomerKnow/pulls{/number}","milestones_url":"https://api.github.com/repos/sb8244/CustomerKnow/milestones{/number}","notifications_url":"https://api.github.com/repos/sb8244/CustomerKnow/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sb8244/CustomerKnow/labels{/name}","releases_url":"https://api.github.com/repos/sb8244/CustomerKnow/releases{/id}","created_at":"2014-11-10T15:50:02Z","updated_at":"2015-01-28T03:45:26Z","pushed_at":"2015-01-28T03:45:26Z","git_url":"git://github.com/sb8244/CustomerKnow.git","ssh_url":"git@github.com:sb8244/CustomerKnow.git","clone_url":"https://github.com/sb8244/CustomerKnow.git","svn_url":"https://github.com/sb8244/CustomerKnow","homepage":null,"size":2628,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master"}},"base":{"label":"sb8244:master","ref":"master","sha":"24c86f8f265ba38fb405e1bee489eb71f6f1ff57","user":{"login":"sb8244","id":1231659,"avatar_url":"https://avatars.githubusercontent.com/u/1231659?v=3","gravatar_id":"","url":"https://api.github.com/users/sb8244","html_url":"https://github.com/sb8244","followers_url":"https://api.github.com/users/sb8244/followers","following_url":"https://api.github.com/users/sb8244/following{/other_user}","gists_url":"https://api.github.com/users/sb8244/gists{/gist_id}"[...]
- request:
    method: get
    uri: https://api.github.com/repos/sb8244/CustomerKnow/issues/6/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TEST_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
   [...]
