#logo {
  background: url('/assets/images/mr-ninja.svg');
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;

  &.flipped {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
  }
}
