@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300);

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.label {
  &.label-primary {
    background-color: #e87422;
    color: white;
  }

  background-color: whitesmoke;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-right: 7px;
}

.note-title {
  p, h3 {
    margin: 0;
    display: inline;
  }
}

