@mixin dashed-border {
  border-style: dashed;
  border-width: 3px;
  opacity: .4;

  &:hover {
    opacity: 1;
  }
}

.note-body {
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }

  img {
    @extend .img-responsive;
  }

  label {
    display: block;
  }

  textarea {
    min-height: 150px;
  }
}

.note {
  @extend .panel;
  @extend .panel-default;

  &:not(.fix) {
    &:not(.published) {
      @include dashed-border();
    }
  }

  .note-title {
    @extend .panel-heading;
    font-size: 1.4em;

    p {
      margin: 0px;
      display: inline;
    }
  }

  .note-body {
    @extend .panel-body;
  }

  > .note-body > ul.list-group > li {
    &:not(.published) {
      @include dashed-border();
    }
  }
}
