$sidebar-width: 230px;

.flex-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar--container {
  min-width: $sidebar-width;
  max-widht: $sidebar-width; // flexbox only respects min-max, not absolutes
  height: 100%;
  background: #00171F;
  color: rgba(255,255,255,0.9);
  padding: 14px;
  text-align: right;
  font-size: 1.2em;
}

.sidebar--logo {
  font-size: 1.6em;
  margin-top: 21px;
  margin-bottom: 50px;
}

ul.sidebar--menu-main {
  list-style: none;
  line-height: 2.5em;

  li {
    a {
      color: inherit;
    }
  }
}

.body--container {
  flex-grow: 1;
  background: #f9f9f9;
  padding: 38px 35px;
}

.topbar--container {
  width: 100%;
}

.topbar--container--pendant {
  width: 24px;
  height: 24px;
  background: #00A8E8;
  border-radius: 50%;
  display: inline-block;
}

.topbar--container--logout {
  float: right;

  a {
    color: inherit;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 7px;
    display: inline-block;
  }
}
