/*
 *= require font-awesome
 */
$header-bg: #315876;
$brand-primary: #E87422;
$accent-color: #D33E0B;

$navbar-inverse-link-color: #ddd;
$navbar-inverse-bg: #444;
$container-lg: 960px;

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300);

@import "fonts";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap";
@import "angularjs-toaster/toaster";
@import "notes";
@import "projects";
@import "logo";
@import "workflow";

html, body {
  background: #f0f1f3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;

  @include border-bottom-radius(5px);
  border: 2px solid darken(#f0f1f3, 5%);
  padding: 0;

  background: white;

  > .border {
    position: relative;
    top: -5px;
    height: 5px;
    width: 100%;
    background: $accent-color;
    @include border-top-radius(5px);
  }

  > .container-inner {
    padding: 15px;
    color: #292B2D;
    min-height: 300px;
  }

  $sidebar-height: 70px;
  > #sidebar {
    @include border-left-radius(5px);
    border: 2px solid darken(#f0f1f3, 5%);
    border-right: none;

    position: absolute;
    width: $sidebar-height;
    left: -$sidebar-height;
    background: white;
    top: 50px;

    hr {
      margin: 0 10px;
    }

    .option {
      width: 100%;
      display: inline-block;
      height: $sidebar-height + 14px;
      text-align: center;
      padding-top: 25%;
      color: inherit;

      &.active {
        border-left: 2px solid $accent-color;
      }

      span {
        display: block;
      }

      i.fa {
        font-size: 32px;
      }
    }
  }
}

a {
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  &.title {
    margin-bottom: 14px;
  }
}

.jumbotron {
  background: url(image_path("bg.png"));
  background-color: $header-bg;
  color: rgba(255,255,255,.8);
  padding: 30px 0px;
  position: relative;

  h1 {
    color: #ffffff;
    font-size: 48px;
  }

  .controls {
    position: absolute;
    bottom: 10px;
    right: 10px;

    .btn {
      margin-left: 7px;
    }
  }
}

.step {
  margin-bottom: 30px;

  .title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}

.control-label {
  height: $input-height-base;
  line-height: $input-height-base;
}

textarea {
  &.form-control {
    height: 150px;
  }
}

.bb {
  margin-bottom: 15px;
}
.scrollverflow {
  overflow: scroll;
}

.note-heading {
  .label {
    margin-left: 5px;
    font-size: 60%;
  }

  i.fa {
    margin-right: 5px;
    cursor: pointer;
  }
}

.header {
  .btn {
    margin-right: 5px;
  }
}

#invites {
  #invite-form {
    input {
      height: 50px;
    }

    button {
      width: 50%;
    }
  }
}

#login {
  padding-top: 80px;

  .panel-body {
    padding: 50px 15px;

    .row {
      margin-bottom: 15px;
    }
  }
}

html#static {
  height: 100%;

  body {
    background: #eee;
    height: 100%;
  }
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

.btn-pad-group {
  .btn:not(:last-of-type) {
    margin-right: 7px;
  }
}

.list-group.no-padding {
  margin-bottom: 0px;
}

nav.navbar {
  padding-left: 60px;
}
