h2 {
  margin-top: 0px;
}

.note-body {
  img {
    @extend .img-responsive;
  }
}

%dashed-border {
  border-style: dashed;
  border-width: 3px;
  opacity: .4;

  &:hover {
    opacity: 1;
  }
}

.note {
  @extend .panel;
  @extend .panel-default;

  &:not(.fix) {
    &:not(.published) {
      @extend %dashed-border;
    }
  }

  .note-title {
    @extend .panel-heading;
    font-size: 1.4em;

    p {
      margin: 0px;
      display: inline;
    }
  }

  .note-body {
    @extend .panel-body;
  }

  > .note-body > ul.list-group > li {
    &:not(.published) {
      @extend %dashed-border;
    }
  }
}

.editing {
  select {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}
